@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
  font-family: 'Lato', sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html{
  background-color: black;
  height: 100%;
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(9, 9, 67, 0.03);
}

li {
  float:left;
  align-self: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

a {
  display: block;
  padding: 8px;
  background-color: #ff950af2;
}

.content {
  position: absolute;
  font-size: 1rem;
  color: aliceblue;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

p {
  /* Center horizontally*/
  text-align: center;
}